@{
    ViewData["Title"] = "Home Page";
}

@model CurrencyConverter.Models.Conversion

<div>
    <p class="lead">This is a currency conversion app. Please type in your amount and select your currencies.</p>
</div>

<form asp-action="Create" asp-controller="Home">
    <div>
        <p>Amount</p>
        <label><input type="text" name="Amount"></label>
    </div>
    <div>
        <label for="original_currency">Original Currency</label>
        <select id="originalCurrency" name="originalCurrency">
            <option>1</option>
            <option>2</option>
            <option>3</option>
        </select>
    </div>

    <div>
        <label for="target_currency">Target Currency</label>
        <select id="targetCurrency" name="targetCurrency">
            <option>1</option>
            <option>2</option>
            <option>3</option>
        </select>
    </div>
    <br>
    <button class="btn btn-primary">Convert</button>
    <br>
    <br>
    <p class="lead"> Converted amount: </p>
</form>


<p>@Model.Amount</p>