@{
    ViewData["Title"] = "Home Page";
}

@model CurrencyConverter.Models.Amount

<div>
    <p class="lead">This is a currency conversion app. Please type in your amount and select your currencies.</p>
</div>

<form asp-action="Create" asp-controller="Home">
    <div>
        <p>Amount</p>
        <label><input type="text" name="Amount"></label>
    </div>
    <div>
        <label for="original_currency">Original Currency</label>
        <select id="original_currency" name="original_currency">
            <option></option>
        </select>
    </div>

    <div>
        <label for="target_currency">Target Currency</label>
        <select id="target_currency" name="target_currency">
            <option></option>
        </select>
    </div>
    <br>
    <button class="btn btn-primary">Convert</button>
    <br>
    <br>
    <p class="lead"> Converted amount: </p>
</form>


<p>@Model.BaseAmount</p>